* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1 {
  color: #fff;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}

#app {
  width: 100%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: mbkaos;
  src: url(fonts/Mbkaos.otf);
}
@font-face {
  font-family: nillya;
  src: url(fonts/nillya-regular.otf);
}
@font-face {
  font-family: mulilight;
  src: url(fonts/Muli-Light.ttf);
}
@font-face {
  font-family: muliex;
  src: url(fonts/Muli-ExtraLight.ttf);
}
nav {
  width: 100%;
  height: 154px;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav a {
  font-family: mbkaos;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.home-hero {
  height: 776px;
  background-image: url(../images/sewer-light.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.home-hero .home-hero-title {
  z-index: 1;
  font-family: mbkaos;
  font-size: 70px;
  color: #93B678;
  margin-top: 15px;
}
.home-hero .home-hero-sub {
  color: #fff;
  font-size: 30px;
  z-index: 1;
  font-family: nillya;
}
.home-hero .home-hero-description {
  color: #fff;
  font-size: 20px;
  z-index: 1;
  font-family: mulilight;
  width: 416px;
  text-align: center;
  margin-top: 13px;
}
.home-hero .home-hero-button {
  width: 262px;
  height: 68px;
  background-color: #fff;
  border-style: none;
  color: #000;
  cursor: pointer;
  font-size: 30px;
  font-family: mulilight;
  filter: drop-shadow(3px 3px 12px #fff);
  z-index: 1;
  margin-top: 50px;
}
.home-hero .home-hero-dark {
  height: 554px;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}
.home-hero .home-hero-light {
  height: 554px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #F0EFF2);
}

.info {
  width: 100%;
  min-height: 200px;
  background-color: #F0EFF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.info .info-title {
  font-family: mbkaos;
  font-size: 40px;
  color: #000;
  margin-top: -25px;
  z-index: 1;
}
.info .info-text {
  font-family: mulilight;
  font-size: 25px;
  color: #000;
  width: 876px;
  text-align: center;
  margin-top: 20px;
}
.info .info-boxes {
  width: 826px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}
.info .info-boxes .info-box {
  min-height: 305px;
  width: 237px;
  z-index: 1;
}
.info .info-boxes .info-box .info-box-img {
  width: 100%;
  height: 305px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.info .info-boxes .info-box .info-box-caption {
  font-family: mbkaos;
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}
.info .info-boxes .info-box .img-paris-1 {
  background-image: url(../images/parissewers1.jpg);
}
.info .info-boxes .info-box .img-saitama-1 {
  background-image: url(../images/saitamasewers1.jpg);
}
.info .info-boxes .info-box .img-cologne-1 {
  background-image: url(../images/colognesewers1.jpg);
}
.info .info-boxes .info-box .img-history-1 {
  background-image: url(../images/history1.jpg);
}
.info .info-boxes .info-box .img-history-2 {
  background-image: url(../images/history2.jpg);
}
.info .info-boxes .info-box .img-history-3 {
  background-image: url(../images/history3.jpg);
}
.info .info-text-2 {
  font-family: mulilight;
  font-size: 25px;
  color: #000;
  width: 712px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 56px;
}
.info .info-box-line {
  position: absolute;
  top: 292px;
  height: 4px;
  width: 100%;
  border-style: none;
  background-color: #707070;
}

.about-hero {
  height: 776px;
  background-image: url(../images/sewer-explore.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.about-hero .about-hero-title {
  z-index: 1;
  font-family: mbkaos;
  font-size: 70px;
  color: #93B678;
  margin-top: 15px;
}
.about-hero .about-hero-sub {
  color: #fff;
  font-size: 30px;
  z-index: 1;
  font-family: nillya;
}
.about-hero .about-hero-description {
  color: #fff;
  font-size: 20px;
  z-index: 1;
  font-family: mulilight;
  width: 416px;
  text-align: center;
  margin-top: 13px;
}
.about-hero .about-hero-img {
  width: 611px;
  height: 266px;
  background-image: url(../images/group.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  filter: drop-shadow(3px 3px 12px #fff);
  margin-top: 68px;
}
.about-hero .about-hero-dark {
  height: 554px;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}
.about-hero .about-hero-light {
  height: 554px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #F0EFF2);
}

.locations {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0EFF2;
  position: relative;
}
.locations .locations-title {
  font-family: mbkaos;
  font-size: 40px;
  color: #000;
}
.locations hr {
  position: absolute;
  bottom: 186px;
  height: 4px;
  width: 100%;
  border-style: none;
  background-color: #707070;
}
.locations .locations-map-container {
  width: 984px;
  min-height: 406px;
  display: flex;
  z-index: 1;
  margin-top: 38px;
}
.locations .locations-map-container .map {
  width: 492px;
  height: 406px;
  background-color: #fff;
  padding-left: 16px;
  padding-top: 20px;
  border-style: solid;
  border-color: #707070;
  border-width: 4px;
}
.locations .locations-map-container .map .map-img {
  width: 386px;
  height: 365px;
  background-image: url(../images/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.locations .locations-map-container .map-info {
  width: 492px;
  min-height: 406px;
  display: flex;
  flex-direction: column;
}
.locations .locations-map-container .map-info .map-info-top {
  width: 100%;
  min-height: 203px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.locations .locations-map-container .map-info .map-info-top p {
  font-family: mulilight;
  font-size: 22px;
  color: #000;
  text-align: center;
  width: 312px;
}
.locations .locations-map-container .map-info .map-info-bottom {
  width: 100%;
  min-height: 203px;
  padding-top: 45px;
  padding-left: 24px;
}
.locations .locations-map-container .map-info .map-info-bottom p {
  font-family: mulilight;
  font-size: 22px;
  color: #000;
  width: 312px;
}

.locations-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F0EFF2;
}
.locations-gallery .locations-gallery-content {
  width: 952px;
  height: 249px;
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}
.locations-gallery .locations-gallery-content .location-img {
  width: 227px;
  height: 159px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.locations-gallery .locations-gallery-content .loc1 {
  background-image: url(../images/hqlocation.jpeg);
}
.locations-gallery .locations-gallery-content .loc2 {
  background-image: url(../images/location2.jpg);
}
.locations-gallery .locations-gallery-content .loc3 {
  background-image: url(../images/location3.jpg);
}
.locations-gallery .locations-gallery-content .loc4 {
  background-image: url(../images/location4.jpg);
}

.tours-hero {
  height: 776px;
  background-image: url(../images/sewertour.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.tours-hero .tours-hero-title {
  z-index: 1;
  font-family: mbkaos;
  font-size: 70px;
  color: #93B678;
  margin-top: 15px;
}
.tours-hero .tours-hero-sub {
  color: #fff;
  font-size: 30px;
  z-index: 1;
  font-family: nillya;
}
.tours-hero .tours-hero-description {
  color: #fff;
  font-size: 20px;
  z-index: 1;
  font-family: mulilight;
  width: 416px;
  text-align: center;
  margin-top: 13px;
}
.tours-hero .tours-hero-img {
  width: 611px;
  height: 266px;
  background-image: url(../images/sewer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  filter: drop-shadow(3px 3px 12px #fff);
  margin-top: 68px;
}
.tours-hero .tours-hero-dark {
  height: 554px;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}
.tours-hero .tours-hero-light {
  height: 554px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #F0EFF2);
}

.tour-selection {
  min-height: 931px;
  width: 100%;
  background-color: #F0EFF2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tour-selection .tour-selection-container {
  margin-top: -58px;
  z-index: 1;
}
.tour-selection .tour-selection-container .tour-selection-row {
  width: 777px;
  min-height: 305px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tour-selection .tour-selection-container .tour-selection-row .tour-selection-box {
  width: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tour-selection .tour-selection-container .tour-selection-row .tour-selection-box .tour-selection-img {
  height: 305px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tour-selection .tour-selection-container .tour-selection-row .tour-selection-box .tour-selection-text {
  font-family: mbkaos;
  font-size: 25px;
  color: #707070;
  margin-top: 8px;
}
.tour-selection .tour-selection-container .tour-selection-row .tour-selection-box .select-img-1 {
  background-image: url(../images/parissewers1.jpg);
}
.tour-selection .tour-selection-container .tour-selection-row .tour-selection-box .select-img-2 {
  background-image: url(../images/colognesewers1.jpg);
}
.tour-selection .tour-selection-container .tour-selection-row .tour-selection-box .select-img-3 {
  background-image: url(../images/viennasewers1.jpg);
}
.tour-selection .tour-selection-container .tour-selection-row .tour-selection-box .select-img-4 {
  background-image: url(../images/saitamasewers1.jpg);
}
.tour-selection .tour-selection-container .tour-selection-row .tour-selection-box .select-img-5 {
  background-image: url(../images/londonsewers2.jpg);
}
.tour-selection .tour-selection-container .tour-selection-row .tour-selection-box .select-img-6 {
  background-image: url(../images/torontosewers1.jpg);
}
.tour-selection .tour-selection-dark {
  width: 100%;
  height: 340px;
  background-image: linear-gradient(#F0EFF2, #000);
}

.bookings {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.bookings .booking {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.bookings .booking .booking-img {
  width: 237px;
  height: 312px;
  margin-left: 98px;
  filter: drop-shadow(6px 6px 6px #000);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.bookings .booking .bk-img-1 {
  background-image: url(../images/parissewers1.jpg);
}
.bookings .booking .bk-img-2 {
  background-image: url(../images/colognesewers1.jpg);
}
.bookings .booking .bk-img-3 {
  background-image: url(../images/viennasewers1.jpg);
}
.bookings .booking .bk-img-4 {
  background-image: url(../images/saitamasewers1.jpg);
}
.bookings .booking .bk-img-5 {
  background-image: url(../images/londonsewers2.jpg);
}
.bookings .booking .bk-img-6 {
  background-image: url(../images/torontosewers1.jpg);
}
.bookings .booking .booking-info {
  min-width: 410px;
  min-height: 312px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
.bookings .booking .booking-info .booking-title {
  font-family: mbkaos;
  font-size: 70px;
  color: #93B678;
  margin-bottom: 0;
}
.bookings .booking .booking-info .stars {
  width: 130px;
}
.bookings .booking .booking-info .booking-desc {
  width: 409px;
  font-family: mulilight;
  font-size: 20px;
  color: #fff;
}
.bookings .booking .booking-info .booking-btn {
  width: 262px;
  height: 68px;
  background-color: #fff;
  border-style: none;
  color: #000;
  cursor: pointer;
  font-size: 30px;
  font-family: mulilight;
  filter: drop-shadow(3px 3px 12px #fff);
}
.bookings .booking .booking-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0.25));
}
.bookings .bg-1 {
  background-image: url(../images/parissewers2.jpg);
}
.bookings .bg-2 {
  background-image: url(../images/colognesewers2.jpg);
}
.bookings .bg-3 {
  background-image: url(../images/viennasewers2.jpg);
}
.bookings .bg-4 {
  background-image: url(../images/saitamasewers2.jpg);
}
.bookings .bg-5 {
  background-image: url(../images/londonsewers3.jpg);
}
.bookings .bg-6 {
  background-image: url(../images/torontosewers2.jpg);
}
.bookings .bookings-bottom-gradient {
  width: 100%;
  height: 302px;
  background-image: linear-gradient(#000, #F0EFF2);
}

.contact-hero {
  height: 776px;
  background-image: url(../images/sewer-explore.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.contact-hero .contact-hero-title {
  z-index: 1;
  font-family: mbkaos;
  font-size: 70px;
  color: #93B678;
  margin-top: 15px;
}
.contact-hero .contact-hero-sub {
  color: #fff;
  font-size: 30px;
  z-index: 1;
  font-family: nillya;
}
.contact-hero .contact-hero-description {
  color: #fff;
  font-size: 20px;
  z-index: 1;
  font-family: mulilight;
  width: 416px;
  text-align: center;
  margin-top: 13px;
}
.contact-hero .contact-hero-dark {
  height: 554px;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}
.contact-hero .contact-hero-light {
  height: 554px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #F0EFF2);
}
.contact-hero form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 361px;
  z-index: 1;
}
.contact-hero form .contact-email {
  width: 100%;
  height: 51px;
  background-color: #fff;
  border-style: none;
  font-family: mulilight;
  font-size: 20px;
  color: #707070;
  padding-left: 15px;
  filter: drop-shadow(3px 3px 12px #fff);
  margin-top: 61px;
}
.contact-hero form .contact-message {
  width: 100%;
  height: 212px;
  background-color: #fff;
  border-style: none;
  font-family: mulilight;
  font-size: 20px;
  color: #707070;
  padding-left: 15px;
  padding-top: 13px;
  filter: drop-shadow(3px 3px 12px #fff);
  margin-top: 18px;
}
.contact-hero form .contact-submit {
  width: 262px;
  height: 68px;
  background-color: #fff;
  border-style: none;
  color: #000;
  cursor: pointer;
  font-size: 30px;
  font-family: mulilight;
  filter: drop-shadow(3px 3px 12px #fff);
  margin-top: 25px;
  margin-bottom: 89px;
}

footer {
  height: 285px;
  width: 100%;
  background-color: #F0EFF2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
footer hr {
  position: absolute;
  top: 0;
  width: 1060px;
  height: 2px;
  border-style: none;
  background-color: #707070;
}
footer .footer-title {
  font-family: mbkaos;
  font-size: 30px;
  color: #93B678;
}
footer .footer-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #707070;
}

/*# sourceMappingURL=styles.css.map */
