@font-face {
    font-family: mbkaos;
    src: url(fonts/Mbkaos.otf);
}

@font-face {
    font-family: nillya;
    src: url(fonts/nillya-regular.otf);
}

@font-face {
    font-family: mulilight;
    src: url(fonts/Muli-Light.ttf);
}

@font-face {
    font-family: muliex;
    src: url(fonts/Muli-ExtraLight.ttf);
}