.home-hero {
    height: 776px;
    background-image: url(../images/sewer-light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .home-hero-title {
        z-index: 1;
        font-family: mbkaos;
        font-size: 70px;
        color: $title-color;
        margin-top: 15px;
    }

    .home-hero-sub {
        color: $site-white;
        font-size: 30px;
        z-index: 1;
        font-family: nillya;
    }

    .home-hero-description {
        color: $site-white;
        font-size: 20px;
        z-index: 1;
        font-family: mulilight;
        width: 416px;
        text-align: center;
        margin-top: 13px;
    }

    .home-hero-button {
        @include button;
        z-index: 1;
        margin-top: 50px;
    }

    .home-hero-dark {
        height: 554px;
        width: 100%;
        position: absolute;
        top: 0;
        background-image: linear-gradient($site-black,rgba(0,0,0,0));
    }

    .home-hero-light {
        height: 554px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(rgba(0,0,0,0),#F0EFF2);
    }
}